<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/doctable.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
</head>
<body>
    <h1>API List</h1>
    <div class="table-container">
    <table class="container">
        <thead>
            <tr>
                <th class="fixed-layout">NAME</th>
                <th class="fixed-layout">URL</th>
                <th class="fixed-layout">METHOD</th>
                <th class="fixed-layout">STATUS</th>
            </tr>
        </thead>
        <tbody>
            <% for (let api of apis) { %>
            <tr>
                <td data-th="NAME"><%= api.name %></td>
                <td data-th="URL">
                    <span style="float: left;"><%= api.url %></span>
                    <span style="float: right;"><button class="custom-btn btn" onclick="copyText('<%= api.url %>')">Copy</button></span>
                </td>
                <td data-th="METHOD"><%= api.method %></td>
                <td data-th="STATUS"><%= api.devstate %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </div>
    <footer>
        you can edit all of this progress in /App/routes/index.js
        and this page is in /App/views/index.ejs
    </footer>
    <script>
        function copyText(url) {
            var textArea = document.createElement("textarea");
            textArea.value = window.location.origin + url
            textArea.style.position = "absolute";
            textArea.style.left = "-9999px";
            textArea.style.position = "absolute";
            textArea.style.left = "-9999px";
            document.body.appendChild(textArea);
            textArea.select();
            textArea.setSelectionRange(0, 99999)
            document.execCommand("copy");
            document.body.removeChild(textArea);
            alert("Copied the text: " + window.location.origin + url);
        }
    </script>
</body>
</html>